.footer {
    background-color: var(--bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
}

.footer__web-logo {
    color: var(--accent-color);
}

.footer-paragraph {
    color: var(--section-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    @media screen and (max-width: 767px) {
    text-align: center;
}
}


.footer-href {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 9px;
    margin-bottom: 0;
    text-decoration: none;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 767px) {
    text-align: center;
    display: block;
    }
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--section-text-color);
}

.footer-contacts>li:first-child {
    margin-bottom: 9px;
}

address {
    font-style: normal;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    text-decoration: none;
    @media screen and (max-width: 767px){
        text-align: center;
    }
}

.studio-footer {
    color: #FFFFFF;
}


.footer-icon {
    display: flex;
    // align-items: baseline;
    @media screen and (min-width: 450px) and (max-width: 767px){
    flex-direction: column;
    }
    
    @media screen and (max-width: 767px){
    flex-wrap: wrap;
    justify-content: center;
    
    }
    @media screen and (max-width: 1200px){
        flex-wrap: wrap;
        
    }
    @media screen and (min-width: 1200px){
        justify-content: center;
    }
    
}

.footer-icon-adres {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width:767px){
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px){
        margin-right: auto;
        // margin-left: 76px;
    }
    @media screen and (min-width: 1200px){
        margin-right: 70px;
    }
}

.footer-icon-party {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
@media screen and (min-width: 1200px) {
    margin-right: 70px;
}
}

.footer-icon-party h2 {
    color: var(--section-text-color);
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
    text-align: center;
}
}

.icon-footer {
    fill: var(--section-text-color);
    background: rgba(255, 255, 255, 0.1);

    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.party-icon {
    margin-right: 10px;
}

.party-icon:last-child {
    margin-right: 0px;
}
////////////////////////////////footer-adaptiv/////////////////@at-root
.footer-adres {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

