.form-footer>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
    @media screen and (max-width: 1199px) {
        text-align: center;
}
}

.form-footer-mail {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: 0;
    padding-left: 16px;
    color: var(--section-text-color);

    margin-right: 12px;
    @media screen and (max-width: 450px) {
    width: 300px;
    display: block;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 20px;
}
@media screen and (max-width: 1199px){
    margin-right: 0px;
    margin-bottom: 20px;
}
}

.form-footer-btn {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

    padding: 10px 62px 10px 29px;

    background: #2196F3;
    border-radius: 4px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: 250ms;
    }
    @media screen and (max-width: 1199px){
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.btn-icon {
    @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
    @media screen and (min-width: 1200px) {
    display: flex;
}
}

.form-footer-icon {
    position: absolute;
    right: 28px;
}

.form-footer {
@media screen and (max-width: 1200px){
margin-top: 60px;
margin-left: auto;
margin-right: auto;

}
}