/* ---------------Шапка--------------- */
.hero {
    background-color: var(--bcg-color);
    padding-top:118px;
    padding-bottom: 198px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(/images/hero-bgr-mobile.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(/images/hero-bgr-mobile-2x.jpg);
    }
    @media screen and (min-width: 768px) {
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(/images/hero-bgr-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(/images/hero-bgr-tablet-2x.jpg);
    }
}
    @media screen and (min-width: 1200px){
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(/images/bg-logo-hero.jpg);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(/images/bg-logo-hero-2x.jpg);
    }
    }
}

.hero__text {
    padding-bottom: 0;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: auto;
    max-width: 696px;

    @media screen and (min-width: 768px){
    padding: 0px 160px;
    }
    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
        padding:0;
    }
    
}

/* ---------------button hero--------------- */
.button-color {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;


    color: var(--section-text-color);
    background-color: var(--accent-color);
    border: none;


    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: rgba(24, 140, 232, 1);
    }
}