/* ---------------Особенности--------------- */
.specifics {
    padding-top: 60px;
    h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        margin-top: 10;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px){
        padding-top: 94px;
    }
}

/* ---------------Особенности-иконки--------------- */
.specifics__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width:100%;
    background: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    
}

.specifics__list {
    margin-bottom: -15px;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    }

    @media screen and (min-width: 1200px){
        flex-wrap:nowrap;
    } 
    
}

.specifics__element {
    width:100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: calc( 100% / 2 - 15px);
        margin-left: 15px;
        margin-bottom: 15px;
    }
    @media screen and (min-width: 1200px) {
        // width: 270px;
        width: calc(100% / 4 - 15px);
    }
}



